{% extends 'base.html.twig' %}

{% block title %}My inventory{% endblock %}

{% block content %}
    <a href="{{ path('product_new') }}" class="button">Add product</a>

{#    MOVE TO SEPARATE FILE#}
    <style>
        .inventory-product-action {
            width: 5em;
            display: inline-block;
            padding: 5px;
            margin: 5px;
            text-align: center;
        }
    </style>

    TODO: filtering, sorting

    <div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% for product in pagination %}
            <div style="border: 1px solid black; padding: 5px; display: flex; justify-content: space-between;">
                <div style="width: 200px;">
                    {% include 'Product/parts/_firstImage.html.twig' with {'product': product} %}
                </div>
                <div style="width: calc(48% - 150px)">
                    <a href="{{ path('product_show', {'pathSlug': product.pathSlug}) }}">
                        {% if product.active %}
                            <i class="far fa-check-circle"></i> {{ product.name }}
                        {% else %}
                            <span style="color: #aaa">
                                <i class="far fa-circle"></i> {{ product.name }}
                            </span>
                        {% endif %}
                    </a><br>
                    <span style="font-size: 0.9em;">
                        {{ product.description|raw }}
                    </span>
                </div>
                <div style="width: 20%;">
                    <div id="orderChart{{ product.pathSlug }}" style="height: 100%; width: 100%;"></div>
                </div>
                <div style="width: 7%;">
                    {% if product.oldPrice is defined and product.oldPrice is not null %}
                        <span style="font-size: 1em; color: red; text-decoration: line-through;">
                            € {{ product.oldPrice }}
                        </span>
                        <br>
                    {% endif %}
                    € {{ product.price }}
                </div>
                <div style="text-align: right; width: 150px;">
                    <div style="display: flex; justify-content: space-around;">
                        <a href="{{ path('product_edit', {'pathSlug': product.pathSlug, 'back': 'inv', 'page': pagination.currentPageNumber}) }}" title="Edit">
                            <i class="fas fa-edit button-icon" style="background: #28a4c9;"></i><br>
                        </a>
                        {% if product.active %}
                            <a href="{{ path('product_deactivate', {'pathSlug': product.pathSlug, 'back': 'inv', 'page': pagination.currentPageNumber}) }}" title="Deactivate">
                                <i class="fas fa-times-circle button-icon" style="background: #ff9900;"></i><br>
                            </a>
                        {% else %}
                            <a href="{{ path('product_activate', {'pathSlug': product.pathSlug, 'back': 'inv', 'page': pagination.currentPageNumber}) }}" title="Activate">
                                <i class="fas fa-check-circle button-icon" style="background: #99ff00;"></i><br>
                            </a>
                        {% endif %}
                        <a href="{{ path('product_delete', {'pathSlug': product.pathSlug, 'back': 'inv', 'page': pagination.currentPageNumber}) }}" onclick="return confirm('Are you sure?')" title="Delete">
                            <i class="fas fa-trash-alt button-icon" style="background: #dc3545;"></i><br>
                        </a>
                    </div>
                    <div style="padding: 10px 0;">
                        {% include 'Product/parts/_ratingStars.html.twig' with {'productReviews': product.productReviews} %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>


    <script>{% spaceless %}
        window.onload = function () {
            {% for product in pagination %}
                var chart = new CanvasJS.Chart("orderChart{{ product.pathSlug }}", {
                    animationEnabled: true,
                    axisX: {
                        labelFontSize: 0
                    },
                    data: [{
                        type: "column",
                        color: "green",
                        dataPoints: {{ productOrders[product.id] | json_encode | raw }}
                    }]
                });

                chart.render();
            {% endfor %}
        };{% endspaceless %}
    </script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
