{% extends 'base.html.twig' %}

{% block title %}My inventory{% endblock %}

{% block content %}
    <a href="{{ path('product_new') }}" class="button">Add product</a>

{#    MOVE TO SEPARATE FILE#}
    <style>
        .inventory-product-action {
            width: 5em;
            display: inline-block;
            padding: 5px;
            margin: 5px;
            text-align: center;
        }
    </style>

    TODO: filtering, sorting

    <div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% for product in pagination %}
            <div style="border: 1px solid black; padding: 5px; display: flex; justify-content: space-between;">
                <div style="width: 200px;">
                    {% include 'Product/parts/_firstImage.html.twig' with {'product': product} %}
                </div>
                <div style="width: calc(48% - 150px)">
                    <a href="{{ path('product_show', {'pathSlug': product.pathSlug}) }}">
                        {% if product.active %}
                            <i class="far fa-check-circle"></i> {{ product.name }}
                        {% else %}
                            <span style="color: #aaa">
                                <i class="far fa-circle"></i> {{ product.name }}
                            </span>
                        {% endif %}
                    </a><br>
                    <span style="font-size: 0.9em;">
                        {{ product.description|raw }}
                    </span>
                </div>
                <div style="width: 20%;">
                    <div id="orderChart{{ product.pathSlug }}" style="height: 100%; width: 100%;"></div>
                </div>
                <div style="width: 7%;">
                    {% if product.oldPrice is defined and product.oldPrice is not null %}
                        <span style="font-size: 1em; color: red; text-decoration: line-through;">
                            € {{ product.oldPrice }}
                        </span>
                        <br>
                    {% endif %}
                    € {{ product.price }}
                </div>
                <div style="text-align: right; width: 25%;">
                    <a href="{{ path('product_edit', {'pathSlug': product.pathSlug}) }}">
                        <div class="inventory-product-action" style="background: #28a4c9;">
                            <i class="fas fa-edit"></i><br>
                            Edit
                        </div>
                    </a>
                    {% if product.active %}
                        <a href="{{ path('product_deactivate', {'pathSlug': product.pathSlug}) }}">
                            <div class="inventory-product-action" style="background: #ff9900;">
                                <i class="fas fa-times-circle"></i><br>
                                Deactivate
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ path('product_activate', {'pathSlug': product.pathSlug}) }}">
                            <div class="inventory-product-action" style="background: #ff9900;">
                                <i class="fas fa-check-circle"></i><br>
                                Activate
                            </div>
                        </a>
                    {% endif %}
                    <a href="{{ path('product_delete', {'pathSlug': product.pathSlug}) }}" onclick="return confirm('Are you sure?')">
                        <div class="inventory-product-action" style="background: #dc3545;">
                            <i class="fas fa-trash-alt"></i><br>
                            Delete
                        </div>
                    </a>
                    <div>
                        {% if product.productReviews|length > 0 %}
                            {% set ratingAvg = 0 %}
                            {% for review in product.productReviews %}
                                {% set ratingAvg = (ratingAvg + review.rating) %}
                            {% endfor %}
                            {% set ratingAvg = ratingAvg / (product.productReviews|length) %}

                            Rating: {{ ratingAvg|number_format(2) }}<br>
                            {{ product.productReviews|length ~ ' ' ~ (product.productReviews|length > 1 ? 'reviews' : 'review' ) }}
                        {% else %}
                            No reviews
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>


    <script>{% spaceless %}
        window.onload = function () {
            {% for product in pagination %}
                var chart = new CanvasJS.Chart("orderChart{{ product.pathSlug }}", {
                    animationEnabled: true,
                    axisX: {
                        labelFontSize: 0
                    },
                    data: [{
                        type: "column",
                        color: "green",
                        dataPoints: {{ productOrders[product.id] | json_encode | raw }}
                    }]
                });

                chart.render();
            {% endfor %}
        };{% endspaceless %}
    </script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
