{% extends '@Infrastructure/baseList.html.twig' %}

{% block title 'Deleted Orders' %}

{% block entityList %}
    <table class="entity-list">
        <tr class="entity-list-header">
            <th>
                <ua onclick="sortSearch(this, 'o.dateCreated', '{{ path('order_async_deleted_list') }}')">
                    Date Created
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </ua>
            </th>
            <th>
                <ua onclick="sortSearch(this, 'o.status', '{{ path('order_async_deleted_list') }}')">
                    Status
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </ua>
            </th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>
                    <ua onclick="sortSearch(this, 'c.fullName', '{{ path('order_async_deleted_list') }}')">
                        Customer
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    </ua>
                </th>
                <th>User Created</th>
            {% endif %}
            <th></th>
        </tr>
        <tr class="entity-list-filters">
            <td>
                <input type="text" onkeyup="filterSearch(this, 'o.dateCreated', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                {# TODO: make it work #}
                <input type="text" onkeyup="filterSearch(this, 'o.status', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'CONCAT(c.firstName, \' \', c.lastName)', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'u.login', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
        </tr>
        <tbody class="entity-list-content"></tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            filterSearch(undefined, undefined, '{{ path('order_async_deleted_list') }}');
        });
    </script>
{% endblock %}
