{% extends '@Infrastructure/entity-list.html.twig' %}

{% block title %}Deleted Orders{% endblock %}

{% block actionBar %}
    <a href="{{ path('order_list') }}">
        <div class="button action-bar-button">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Back
        </div>
    </a>
{% endblock %}

{% block content %}
    <table class="entity-list">
        <tr>
            <th>Date placed</th>
            <th>Customer</th>
            <th>User</th>
        </tr>
    {% for order in orders %}
        <tr class="entity-list-row">
            <td>{{ order.datePlaced | date('d.m.Y') }}</td>
            <td>{{ order.idCustomers.fullName }}</td>
            <td>{{ order.userCreated.login }}</td>
            <td class="entity-list-cell">
                <a href="{{ path('order_show', {'pathSlug': order.pathSlug}) }}">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}