{% extends '@Infrastructure/baseList.html.twig' %}

{% block title 'Deleted Orders' %}

{% block actionBar %}
    <a href="{{ path('order_list') }}">
        <div class="button action-bar-button">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Back
        </div>
    </a>
{% endblock %}

{% block entityList %}
    <table class="entity-list">
        <tr class="entity-list-header">
            <th>{{ knp_pagination_sortable(pagination, 'Date Created', 'o.dateCreated') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Status', 'o.status') }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>{{ knp_pagination_sortable(pagination, 'Customer', 'c.fullName') }}</th>
                <th>User Created</th>
            {% endif %}
            <th></th>
        </tr>
        <tr class="entity-list-filters">
            <td>
                <input type="text" onkeyup="filterSearch(this, 'o.dateCreated', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                {# TODO: make it work #}
                <input type="text" onkeyup="filterSearch(this, 'o.status', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'CONCAT(c.firstName, \' \', c.lastName)', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'u.login', '{{ path('order_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
        </tr>
        <tbody class="entity-list-content"></tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            filterSearch(undefined, undefined, '{{ path('order_async_deleted_list') }}');
        });
    </script>
{% endblock %}
