{% extends '@Infrastructure/baseList.html.twig' %}

{#'order_list': 'Back'#}

{% block title 'Order List'%}

{% set paginationColumns = [
    ['Date Created', 'o.dateCreated']
] %}

{#{% set isExportAllowed = true %}#}
{#{% set pdfExportPath = path('export_pdf_order_list') %}#}
{#{% set pdfExportJson = [] %}#}

{#{% for order in pagination %}#}
    {#{% set pdfExportJson = pdfExportJson | merge([order.pathSlug]) %}#}
{#{% endfor %}#}

{#{% set pdfExportJson = pdfExportJson | json_encode %}#}
{#{% block title %}#}
    {#{% if listType == '' %}#}
        {#Order List#}
    {#{% elseif listType == 'deleted' %}#}
        {#Deleted Order List#}
    {#{% endif %}#}
{#{% endblock %}#}

{% block entityList %}

    {# TODO: maybe #}
    {#{{ render(controller(#}
        {#'ExportBundle:PDFExport:orderList',#}
        {#{'pathSlugsJson': '{"aa":3}'}#}
    {#)) }}#}

    <table class="entity-list order-list">
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Date Created', 'o.dateCreated') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Status', 'o.status') }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>{{ knp_pagination_sortable(pagination, 'Customer', 'c.fullName') }}</th>
                <th>User Created</th>
            {% endif %}
        </tr>

        {% for order in pagination %}
            <tr class="entity-list-row">
                <td>{{ order.dateCreated | date('d.m.Y') }}</td>
                {#<td>{{ order.status.name }}</td>#}
                <td></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ order.idCustomers.fullName }}</td>
                    <td>{{ order.userCreated.login }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('order_show', {'pathSlug': order.pathSlug}) }}">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}