{% extends '@Infrastructure/entity-list.html.twig' %}

{% block title %}Order{% endblock %}

{% block content %}
    {{ order.datePlaced | date('d.m.Y') }}
    {{ order.idCustomers.fullName }}

    <br><br>
    {% if ordersProducts is not empty %}
        <table class="entity-list orders-products-list">
            {% for ordersProduct in ordersProducts %}
                <tr>
                    <td>
                        <a href="{{ path('product_show', {'pathSlug': ordersProduct.idProducts.pathSlug}) }}">
                            {{ ordersProduct.idProducts.name }}
                        </a>
                    </td>
                    <td>
                        {{ ordersProduct.quantity }}
                    </td>
                    <td>
                        {{ ordersProduct.discount }}
                    </td>
                    <td>
                        {{ ordersProduct.idStatuses.name }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}