{% if pagination | length <= 0 %}
    <tr>
        <td colspan="4">No Products</td>
    </tr>
{% else %}
    {% for invoice in pagination %}
        <tr class="entity-list-row">
            <td class="entity-list-cell">
                {{ invoice.name }}
            </td>
            <td class="entity-list-cell">
                {{ invoice.idCustomers.fullName }}
            </td>
            <td class="entity-list-cell">
                {{ invoice.userCreated.login }}
            </td>
            <td class="entity-list-cell">
                {{ invoice.dateIssued | date('d.m.Y') }}
            </td>
            <td class="entity-list-cell">
                <a href="{{ path('invoice_show', {'pathSlug': invoice.pathSlug}) }}">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endif %}

<tr>
    <td colspan="4">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </td>
</tr>
