<div class="product-cell">
    <i class="fas fa-search quick-view-icon quick-view-hide"></i>
    <i class="fas fa-times quick-view-close quick-view-show"></i>
    <a href="{{ path('product_show', {'pathSlug': product.pathSlug}) }}">
        <div class="product-cell-inner">
            <div class="first-image-wrapper" style="margin-bottom: 0.5em; border-radius: 1em;">
                {% include 'Product/parts/_firstImage.html.twig' with {'product': product} %}
            </div>

            <div class="details-wrapper" style="margin: 0em; padding: 0.25em; display: flex; flex-direction: column;">
                <span class="quick-view-hide" style="max-height: 2.5em; overflow: hidden;"><b>{{ product.name | slice(0, 50) }}</b></span>
                <span class="quick-view-show" style="max-height: 2.5em; overflow: hidden;"><b>{{ product.name }}</b></span>
                <span style="font-size: 16px; color: #555">{{ product.store.shortName }}</span>
                <span class="quick-view-show" style="font-size: 14px;">{{ product.description }}</span>

                <div class="quick-view-show">
                    {% for productParameter in product.productParameters %}
                        <span style="color: #aaa;">{{ productParameter.parameter.name }}</span> {{ productParameter.value }} {{ productParameter.parameter.unit }}<br>
                    {% endfor %}
                </div>

                <div>
                    {% if product.productReviews|length > 0 %}
                        {% set ratingAvg = 0 %}
                        {% for review in product.productReviews %}
                            {% set ratingAvg = (ratingAvg + review.rating) %}
                        {% endfor %}
                        {% set ratingAvg = ratingAvg / (product.productReviews|length) %}

                        {% set ratingAvgRounded = ratingAvg|round(0, 'ceil') %}

                        {% for rating in 1..(ratingAvgRounded-1) if (ratingAvgRounded-1) != 0 %}
                            <img src="{{ asset('uploads/images/_star_4.png') }}" alt="" width="15" class="rating-star">
                        {% endfor %}
                        <img src="{{ asset('uploads/images/_star_' ~ ((ratingAvg - (ratingAvgRounded-1)) * 4)|round ~ '.png') }}" alt="" width="15" class="rating-star">
                        {% for rating in (ratingAvgRounded+1)..5 if ratingAvgRounded != 5 %}
                            <img src="{{ asset('uploads/images/_star_0.png') }}" alt="" width="15" class="rating-star">
                        {% endfor %}
                        <span class="quick-view-show">/{{ product.productReviews|length }} reviews</span>
                    {% else %}
                        {% for rating in 1..5 %}
                            <img src="{{ asset('uploads/images/_star_0.png') }}" alt="" width="15" class="rating-star">
                        {% endfor %}
                        <span class="quick-view-show">/0 reviews</span>
                    {% endif %}
                </div>
                <div>
                {% if product.oldPrice is defined and product.oldPrice is not null %}
                    <span style="color: red; text-decoration: line-through;">
                        € {{ product.oldPrice }}
                    </span>
                    &nbsp;
                {% endif %}
                <span><b>€ {{ product.price }}</b></span>
                </div>
            </div>
        </div>
    </a>
</div>
