<div class="product-cell">
    <i class="fas fa-search quick-view-icon quick-view-hide"></i>
    <i class="fas fa-times quick-view-close quick-view-show"></i>
    <a href="{{ path('product_show', {'pathSlug': product.pathSlug}) }}">
        <div class="product-cell-inner">
            <div class="first-image-wrapper" style="margin-bottom: 0.5em; border-radius: 1em;">
                {% include 'Product/parts/_firstImage.html.twig' with {'product': product} %}
            </div>

            <div class="details-wrapper" style="margin: 0em; padding: 0.25em; display: flex; flex-direction: column;">
                <span class="quick-view-hide" style="max-height: 2.5em; overflow: hidden;"><b>{{ product.name | slice(0, 50) }}</b></span>
                <span class="quick-view-show" style="max-height: 2.5em; overflow: hidden;"><b>{{ product.name }}</b></span>
                <span style="font-size: 16px; color: #555">{{ product.store.shortName }}</span>
                <span class="quick-view-show" style="font-size: 14px;">{{ product.description }}</span>

                <div class="quick-view-show">
                    {% for productParameter in product.productParameters %}
                        <span style="color: #aaa;">{{ productParameter.parameter.name }}</span> {{ productParameter.value }} {{ productParameter.parameter.unit }}<br>
                    {% endfor %}
                </div>

                <div style="padding: 10px 0; margin: 0 auto;">
                    {% include 'Product/parts/_ratingStars.html.twig' with {'productReviews': product.productReviews} %}
                </div>
                <div>
                <span><b>€ {{ product.price }}</b></span>
                {% if product.oldPrice is defined and product.oldPrice is not null %}
                    <br>
                    <span style="color: red; text-decoration: line-through;">
                        € {{ product.oldPrice }}
                    </span>
                    &nbsp;
                    <span style="background: #AA3333; color: #fff; padding: 0 5px; float: right;">-{{ (100 - product.price / product.oldPrice * 100)|number_format(2) }}%</span>
                    &nbsp;
                {% endif %}
                </div>
            </div>
        </div>
    </a>
</div>
