<!--[if IE]>Use a serious browser!<![endif]-->
<!--[if !IE]><!-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>HA-{% block title%}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400" rel="stylesheet">
    <style>
        body {
            margin: 0;
            /*padding: 5px;*/
            font-family: 'Dosis', sans-serif;
            font-size: 20px;
        }
        a {
            color: #1b6d85;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            color: #AEF2FF;
        }
        hr {
            height: 12px;
            border: 0;
            box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .hidden {
            max-width: 0;
            max-height: 0;
            visibility: hidden;
            display: none;
            opacity: 0;
        }
        .container {
            width: 100%;
            margin: 0;
        }
        #left-menu {
            width: 150px;
            position: fixed;
            top: 10px;
            left: -150px;
            opacity: 1;
            z-index: 100;
        }
        #left-menu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .left-menu-option {
            width: 150px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #888888;
            color: #FFFFFF;
            /*color: #000000;*/
            font-weight: bold;
            cursor: pointer;
        }
        #left-menu ul li:hover {
            background: #7777FF;
        }
        #left-menu-header {
            width: 150px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #444444;
            color: #33FF33;
        }
        #left-menu-button {
            background: #663399;
            height: 50px;
            line-height: 55px;
            width: 50px;
            position: fixed;
            top: 10px;
            left: 0;
            font-size: 25px;
            color: white;
            text-align: center;
            cursor: pointer;
            z-index: 100;
        }
        #body-overlay {
            position: fixed;
            background: #000000;
            opacity: 0.8;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            visibility: hidden;
            z-index: 50;
        }
        #body-top {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 10%;
            padding: 5px;
            padding-top: 15px;
            background: #EEEEEE;
        }
        #body-main {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 90%;
            padding: 10px;
            padding-top: 20px;
            box-shadow: inset 0 0 10px black;
            overflow-y: auto;
        }
        #title-center {
            font-size: 30px;
            margin-right: 50px;
            margin-bottom: 10px;
            text-align: center;
        }
        .input-table {
            width: 100%;
        }
        .input-table tr td {
            padding: 5px;
        }
        .notice-box {
            position: fixed;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            z-index: 200;
            top: 130px;
            left: 0;
            right: 0;
            box-shadow: 0 0 20px black;

        }
        #notice-box-positive {
            background: #00CC00;
        }
        #notice-box-negative {
            background: #CC5555;
        }
        #notice-box-warning {
            background: #CCCC00;
        }
        #notice-box-neutral {
            background: #22AAF3;
        }
        .notice-box-close-button {
            margin-right: 10px;
            cursor: pointer;
            float: right;
            font-weight: bold;
            font-size: 30px;
            line-height: 25px;
        }
        .notice-box-close-button:hover {
            color: white;
        }
        /* For list pages */
        td {
            /*width: 200px;*/
            /*max-width: 200px;*/
            padding: 5px;
            /*height: 30px;*/
            border: 1px solid black;
            overflow: hidden;
        }
        .list-section {
            overflow-y: scroll;
            overflow-x: hidden;
        }
        #list-body {
            max-height: 650px;
            margin-bottom: 10px;
        }
        #entity-list-header, #entity-list-search, #entity-list-body {
            width: 100%;
            table-layout: fixed;
            margin-right: 30px;

        }
        #entity-list-search tr td {
            padding: 0;
            border: 0;
            text-align: center;
        }
        #entity-list-search tr td input {
            width: 100%;
            height: 35px;
            padding: 0 5px;
            border: 1px solid black;
            border-radius: 0;
            background-image: url('{{ asset('searchicon.png') }}');
            background-size: 20px;
            background-position: 10px 5px;
            background-repeat: no-repeat;
            padding-left: 40px;
        }
        #entity-list-header tr {
            border-bottom: 2px solid black;
            background: #AAAAFF;
        }
        #entity-list-header tr td {
            font-weight: bold;
        }
        #entity-list-header tr td:nth-last-child(1) {
            width: 5%;
            visibility: hidden;
        }
        #entity-list-search tr td:nth-last-child(1) {
            width: 5%;
        }
        #entity-list-body tr:nth-child(even) {
            background: #DDDDDD;
        }
        #entity-list-body tr:hover {
            background: #BBBBBB;
        }
        #entity-list-body tr td:nth-last-child(1) {
            width: 5%;
            text-align: center;
            padding: 0;
        }
        #entity-list-body a {
            color: #000000;
        }
        /* End */
        /* For input pages */
        .input-table tr td {
            width: 30%;
        }
        .input-table tr td:nth-child(1) {
            text-align: right;
        }
        .input-table tr td input {
            width: 100%;
        }
        .input-table tr td button {
            width: 30%;
        }
        /* END */
    </style>
    {% block stylesheets %}{% endblock %}
    <script>
        var isLeftMenuActive = 0;

        function showLeftMenu() {
            $("#left-menu").animate({
                left: "0px"
            }, 500);
            $("#left-menu-button").animate({
                left: "150px"
            }, 500);
            $("#body-overlay").fadeIn("fast");
            isLeftMenuActive = 1;
        }

        function hideLeftMenu() {
            $("#left-menu").animate({
                left: "-150px"
            }, 500);
            $("#left-menu-button").animate({
                left: "0px"
            }, 500);
            $("#body-overlay").fadeOut("fast");
            isLeftMenuActive = 0;
        }

        function tableSearch(tableName, inputName, columnNumber) {
            var input, filter, table, tr, td, i;
            table = document.getElementById(tableName);
            input = document.getElementById(inputName);
            allInputs = table.getElementsByTagName("input");
            filter = input.value.toUpperCase();
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[columnNumber];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $(document).ready(function() {
            $("#body-overlay").fadeOut(0);
            $("#body-overlay").css("visibility", "visible");

            $("#left-menu-button").click(function() {
                if (!isLeftMenuActive) {
                    showLeftMenu();
                }
                else {
                    hideLeftMenu();
                }
            });

            $("#body-overlay").click(function() {
                if(isLeftMenuActive) {
                    hideLeftMenu();
                }
            });

            $(document).keydown(function(event) {
                if (event.keyCode == 27) {
                    if (isLeftMenuActive) {
                        hideLeftMenu();
                    }
                }
            });

            $(".add-entity-body tr td input").each(function() {
                $(this).keyup(function() {
                    var id = $(this).attr('id').split('_')[1];
                    if ($.trim($(this).val()).length == 0 && $(this).attr('required') == "required") {
                        $("#add-entity-body-data-error-"+id).html('<span style="color:red">This field cannot be empty!</span>');
                    }
                    else {
                        $("#add-entity-body-data-error-"+id).html(" ");
                        //............
                    }
                });
            });
//            $(".add-entity-body tr td input")

        });
    </script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <div id="left-menu-button">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <div id="left-menu">
        <ul>
            <div id="left-menu-header">
                <b>MENU</b>
            </div>
            <a href="{{ path('homepage') }}">
                <li class="left-menu-option">
                    <span class="glyphicon glyphicon-home"></span> Homepage
                </li>
            </a>
            <a href="{{ path('product_list') }}">
                <li class="left-menu-option">
                    Products
                </li>
            </a>
            {% if app.user %}
            <a href="">
                <li class="left-menu-option">
                    Orders
                </li>
            </a>
            <a href="{{ path('user_invoice_list') }}">
                <li class="left-menu-option">
                    Invoices
                </li>
            </a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_panel') }}">
                <li class="left-menu-option">
                    Admin Panel
                </li>
            </a>
            <a href="{{ path('admin_customer_list') }}">
                <li class="left-menu-option">
                    <span class="glyphicon glyphicon-briefcase"></span> Customers
                </li>
            </a>
            <a href="{{ path('admin_country_city_list') }}">
                <li class="left-menu-option">
                    <span class="glyphicon glyphicon-road"></span> Countries/Cities
                </li>
            </a>
            {% endif %}
            {% if not app.user %}
            <a href="{{ path('security_login') }}">
                <li class="left-menu-option">
                    Log in <span class="glyphicon glyphicon-log-in"></span>
                </li>
            </a>
            {% elseif app.user %}
            <li class="left-menu-option">- {{ app.user }} -</li>
            <a href="{{ path('logout') }}">
                <li class="left-menu-option">
                    Log out <span class="glyphicon glyphicon-log-out"></span>
                </li>
            </a>
            {% endif %}
        </ul>
    </div>

    <div id="body-overlay"></div>

    {% for flash_message in app.session.flashBag.get('notice') %}
        {% for flash_type in app.session.flashBag.get('noticeType') %}
            <div class="notice-box" id="notice-box-{{ flash_type }}">
                {{ flash_message }}
                <span class="notice-box-close-button" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
    {% endfor %}

    <div id="body-top">
        <div id="title-center">
            {% block body_title %}{% endblock %}
        </div>

        Some options here
    </div>

    {#<hr>#}

    <div id="body-main">
        {% block body %}{% endblock %}
    </div> 
</body>
</html>
<!--<![endif]-->
