{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body_title %}Customers{% endblock %}

{% block stylesheets %}
    <style>
        td {
            width: 200px;
            padding: 0 5px;
            height: 30px;
            border: 1px solid black;
            overflow: hidden;
        }
        #list-body {
            height: 600px;
            overflow-y: scroll;
        }
        #customer-list-header, #customer-list {
            /*width: 100%;*/
        }
        #list-search {
            margin: 0;
            padding: 0;
        }
        #list-search td {
            padding: 0;
            border: 0;
        }
        #list-search input {
            width: 200px;
        }
        #list-header {
            margin-right: 15px;
        }
        #customer-list-header tr {
            border-bottom: 2px solid black;
            background: #AAAAFF;
        }
        /*.list-section table tr td {*/
            /*width: 50px;*/
        /*}*/

        #customer-list tr:nth-child(even) {
            background: #DDDDDD;
        }
        #customer-list tr:hover {
            background: #BBBBBB;
        }
        #customer-list tr td:nth-last-child(1) {
            width: 40px;
            text-align: center;
        }
        #customer-list a {
            color: #000000;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="list-section" id="list-search">
        <table id="customer-list-search">
            <tr>
                <td>
                    <input type="text" class="table-search" id="first-name-search-input" onkeyup="tableSearch('customer-list', 'first-name-search-input', 0)" placeholder="">
                </td>
                <td>
                    <input type="text" class="table-search" id="last-name-search-input" onkeyup="tableSearch('customer-list', 'last-name-search-input', 1)" placeholder="">
                </td>
                <td>
                    
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
    <div class="list-section" id="list-header">
        <table id="customer-list-header">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Country</td>
                <td>City</td>
            </tr>
        </table>
    </div>
    <div class="list-section" id="list-body">
        <table id="customer-list">
            {#<tr>#}
                {#<td>First Name</td>#}
                {#<td>Last Name</td>#}
                {#<td>Country</td>#}
                {#<td>City</td>#}
            {#</tr>#}
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.idCountries.name }}</td>
                    <td>{{ customer.idCities.name }}</td>
                    <td><a href="{{ path('customer', {'customerID': customer.id}) }}"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
