<div class="left-menu-button">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</div>
<div class="left-menu">
    <div class="left-menu-header">
        <b>MENU</b>
    </div>
    <ul>
        {% if app.user %}
            <li class="left-menu-option">
                Logged in as: <br>
                {{ app.user.login }}
            </li>
        {% else %}
            <li>
                No user
            </li>
        {% endif %}
        <li>
            <a href="{{ path('homepage_homepage') }}">
                <div class="left-menu-option">
                    <i class="fa fa-home"></i> Homepage
                </div>
            </a>
        </li>
        {#<a href="{{ path('product_list') }}">#}
            {#<li class="left-menu-option">#}
                {#Products#}
            {#</li>#}
        {#</a>#}
        {#{% if app.user %}#}
            {#<a href="{{ path('user_order_list') }}">#}
                {#<li class="left-menu-option">#}
                    {#Orders#}
                {#</li>#}
            {#</a>#}
        <li>
            <a href="{{ path('invoice_list') }}">
                <div class="left-menu-option">
                    Invoices
                </div>
            </a>
        </li>
        {#{% endif %}#}

        {#{% if is_granted('ROLE_ADMIN') %}#}
            {#<a href="{{ path('admin_panel') }}">#}
                {#<li class="left-menu-option">#}
                    {#Admin Panel#}
                {#</li>#}
            {#</a>#}
            {#<a href="{{ path('admin_customer_list') }}">#}
                {#<li class="left-menu-option">#}
                    {#<span class="glyphicon glyphicon-briefcase"></span> Customers#}
                {#</li>#}
            {#</a>#}
            {#<a href="{{ path('admin_country_city_list') }}">#}
                {#<li class="left-menu-option">#}
                    {#<span class="glyphicon glyphicon-road"></span> Countries/Cities#}
                {#</li>#}
            {#</a>#}
        {#{% endif %}#}
        {% if not app.user %}
            <li>
                <a href="{{ path('access_control_login') }}">
                    <div class="left-menu-option">
                        Log in <span class="glyphicon glyphicon-log-in"></span>
                    </div>
                </a>
            </li>
        {% elseif app.user %}
            <li>
                <a href="{{ path('logout') }}">
                    <div class="left-menu-option">
                        <i class="fa fa-sign-out"></i> Log out
                    </div>
                </a>
            </li>
        {% endif %}
    </ul>
</div>

{#{% stylesheets filter='scssphp' output='css/app.css'#}
    {#'@InfrastructureBundle/Resources/public/css/main_menu.scss'#}
{#%}#}
{#<link rel="stylesheet" href="{{ asset_url }}" />#}
{#{% endstylesheets %}#}

{% javascripts
    '@InfrastructureBundle/Resources/public/js/main_menu.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
