{% extends 'base.html.twig' %}

{% block title %}Add Customer{% endblock %}

{% block body_title %}Add Customer{% endblock %}

{% block stylesheets %}
    <style>
        td {
            border: 0;
        }
        .add-entity-body tr td:nth-child(1) {
            width: 30%;
            text-align: right;
        }
        .add-entity-body tr td:nth-child(2) {
            width: 30%;
        }
        .add-entity-body tr td:nth-child(3) {
            width: 30%;
        }
        .add-entity-body tr td input {
            width: 100%;
        }
        .add-entity-body tr td select {
            width: 100%;
        }
        .input-table tr td button {
            width: 30%;
        }
    </style>
{% endblock %}

{% block body %}//TODO: check data correctness on the fly with js
    {{ form_start(form) }}
    <table class="input-table add-entity-body">
        {% for columnName in ['firstName', 'lastName', 'gender', 'companyName', 'vat', 'idCountries', 'idCities', 'street', 'postalCode', 'email', 'phone', 'idCurrencies', 'defaultDiscount', 'idUsers'] %}
            <tr>
                <td>{{ form_label(form[columnName]) }}{% if form[columnName].vars.required %} <span style="color:red">*</span>{% endif %}</td>
                <td>{{ form_widget(form[columnName]) }}</td>
                <td class="add-entity-body-data-error" id="add-entity-body-data-error-{{ columnName }}">{{ form_errors(form[columnName]) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="hidden">{{ form_widget(form['delete'], {'disabled': 'true', 'label': ' '}) }}</td>
            <td>{{ form_widget(form['add']) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}

{% endblock %}


