{% extends 'base.html.twig' %}

{% block title %}Countries/Cities{% endblock %}

{% block body_title %}Countries/Cities{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block scripts %}{% endblock %}

{% block body %}
    <form action="{{ path('admin_add_customer') }}">
        <input type="submit" value="Add Country" />
    </form>
    <form action="{{ path('admin_add_customer') }}">
        <input type="submit" value="Add City" />
    </form>

    <span class="testSpan">Fix search function !!!!!!!</span>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="list-section" id="list-header">
                    <table id="entity-list-header">
                        <tr>
                            <td>Name</td>
                            <td>Symbol</td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div class="list-section" id="list-search">
                    <table id="entity-list-search">
                        <tr>
                            <td>
                                <input type="search" class="table-search" id="first-name-search-input" onkeyup="tableSearch('entity-list-body', 'first-name-search-input', 0)" placeholder="Search">
                            </td>
                            <td>
                                <input type="search" class="table-search" id="last-name-search-input" onkeyup="tableSearch('entity-list-body', 'last-name-search-input', 1)" placeholder="Search">
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-remove"></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="list-section" id="list-body">
                    <table id="entity-list-body">
                        {% for country in countries %}
                            <tr id="entity-list-tr">
                                <td>{{ country.name }}</td>
                                <td>{{ country.symbol }}</td>
                                <td></td>
                                {#<td><a href="{{ path('admin_customer', {'pathSlug': customer.pathSlug}) }}"><div style="width: 100%; height: 100%;"><span class="glyphicon glyphicon-chevron-right"></span></div></a></td>#}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="list-section" id="list-header">
                    <table id="entity-list-header">
                        <tr>
                            <td>Name</td>
                            <td>Country</td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div class="list-section" id="list-search">
                    <table id="entity-list-search">
                        <tr>
                            <td>
                                <input type="search" class="table-search" id="first-name-search-input" onkeyup="tableSearch('entity-list-body', 'first-name-search-input', 0)" placeholder="Search">
                            </td>
                            <td>
                                <input type="search" class="table-search" id="last-name-search-input" onkeyup="tableSearch('entity-list-body', 'last-name-search-input', 1)" placeholder="Search">
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-remove"></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="list-section" id="list-body">
                    <table id="entity-list-body">
                        {% for city in cities %}
                            <tr id="entity-list-tr">
                                <td>{{ city.name }}</td>
                                <td>{{ city.idCountries.name }}</td>
                                <td></td>
                                {#<td><a href="{{ path('admin_customer', {'pathSlug': customer.pathSlug}) }}"><div style="width: 100%; height: 100%;"><span class="glyphicon glyphicon-chevron-right"></span></div></a></td>#}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
