{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body_title %}Customers{% endblock %}

{% block stylesheets %}
    <style>



    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
           $(".table-search").keyup(function () {
               var columnIndex = $(".table-search").index(this);
               var columnCount = $(".table-search").length;
               var inputValue = $(this).val();
               var table = $("#entity-list");

               var rows = $("#entity-list-tr").map(function() {
                   return this;
               }).get();

               $(".testSpan").text(columnIndex + " / " + columnCount + " " + inputValue);





               var input, filter, td, i;
//               table = document.getElementById("entity-list");
//               input = document.getElementById(inputName);
//               allInputs = table.getElementsByTagName("input");
               filter = inputValue.toUpperCase();
//               var tr = table.getElementsByTagName("entity-list-tr");

               for (i = 0; i < columnCount; i++) {


                   console.log(rows[0]);
//                   rows.style.display = "none";

//                   $("#entity-list-tr").each(function () {
//                       $(this).style.display = "none";
////                       $("#entity-list-tr td").each(function () {
//                           if ($("#entity-list-tr td").eq(columnIndex).html() == inputValue) {
//                                console.log("yes");
//                           }
//                           else {
//                               console.log("no");
//                           }
////                       })
//                   });

//                   td = tr[i].getElementsByTagName("td")[columnIndex];
//                   alert("a");
//                   if (td) {
//                       alert("b");
//                       if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
//                           tr[i].style.display = "";
//                       } else {
//                           tr[i].style.display = "none";
//                       }
//                   }
               }
           });
        });
    </script>
{% endblock %}

{% block body %}
    TODO: check country-city
    <form action="{{ path('admin_add_customer') }}">
        <input type="submit" value="Add customer" />
    </form>


    <span class="testSpan">Fix search function !!!!!!!</span>

    {#<div class="list-section" id="list-header">#}
        <table id="entity-list-header">
            <tr>
                <td>Id Number</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Country</td>
                <td>City</td>
                <td></td>
            </tr>
        </table>
    {#</div>#}
    {#<div class="list-section" id="list-search">#}
        <table id="entity-list-search">
            <tr>
                <td>
                    <input type="search" class="table-search" placeholder="Search">
                </td>
                <td>
                    <input type="search" class="table-search" id="first-name-search-input" onkeyup="tableSearch('entity-list-body', 'first-name-search-input', 1)" placeholder="Search">
                </td>
                <td>
                    <input type="search" class="table-search" id="last-name-search-input" onkeyup="tableSearch('entity-list-body', 'last-name-search-input', 2)" placeholder="Search">
                </td>
                <td>
                    <input type="search" class="table-search" id="country-search-input" onkeyup="tableSearch('entity-list-body', 'country-search-input', 3)" placeholder="Search">
                </td>
                <td>
                    <input type="search" class="table-search" placeholder="Search">
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    {#</div>#}

    <div class="list-section" id="list-body">
        <table id="entity-list-body">
            {#<tr>#}
                {#<td>First Name</td>#}
                {#<td>Last Name</td>#}
                {#<td>Country</td>#}
                {#<td>City</td>#}
            {#</tr>#}
            {% for customer in customers %}
                <tr id="entity-list-tr">
                    <td>{{ customer.identificationNumber }}</td>
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.idCountries.name }}</td>
                    <td>{{ customer.idCities.name }}</td>
                    <td><a href="{{ path('admin_customer', {'pathSlug': customer.pathSlug}) }}"><div style="width: 100%; height: 100%;"><span class="glyphicon glyphicon-chevron-right"></span></div></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
