{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body_title %}Customers{% endblock %}

{% block stylesheets %}
    <style>
        td {
            width: 200px;
            max-width: 200px;
            padding: 0 5px;
            height: 30px;
            border: 1px solid black;
            overflow: hidden;
        }
        #list-body {
            height: 600px;
            overflow-y: scroll;
        }
        #customer-list-header, #customer-list, #customer-list-search {
            width: 100%;
        }
        #list-search {
            margin: 0;
            padding: 0;
        }
        #customer-list-search tr td {
            padding: 0;
            border: 0;
            text-align: center;
        }
        /*#list-search input {*/
            /*width: 200px;*/
        /*}*/
        #customer-list-search tr td input {
            width: 100%;
            padding: 0 5px;
            border: 1px solid black;
            border-radius: 5px;
            background-image: url('{{ asset('searchicon.png') }}');
            background-size: 20px;
            background-position: 10px 5px;
            background-repeat: no-repeat;
            padding-left: 40px;
        }
        #list-header {
            margin-right: 15px;
        }
        #customer-list-header tr {
            border-bottom: 2px solid black;
            background: #AAAAFF;
        }
        #customer-list-header tr td:nth-last-child(1), #customer-list-search tr td:nth-last-child(1) {
            width: 5%;
            visibility: hidden;
        }
        /*.list-section table tr td {*/
            /*width: 50px;*/
        /*}*/
        #customer-list tr:nth-child(even) {
            background: #DDDDDD;
        }
        #customer-list tr:hover {
            background: #BBBBBB;
        }
        #customer-list tr td:nth-last-child(1) {
            width: 4%;
            text-align: center;
        }
        #customer-list a {
            color: #000000;
        }


    </style>
{% endblock %}

{% block body %}
    TODO: check country-city
    <form action="{{ path('admin_add_customer') }}">
        <input type="submit" value="Add customer" />
    </form>
    <br>

    {#<div class="list-section" id="list-header">#}
        <table id="customer-list-header">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Country</td>
                <td>City</td>
                <td></td>
            </tr>
        </table>
    {#</div>#}
    {#<div class="list-section" id="list-search">#}
        <table id="customer-list-search">
            <tr>
                <td>
                    <input type="search" class="table-search" id="first-name-search-input" onkeyup="tableSearch('customer-list', 'first-name-search-input', 0)" placeholder="Search">
                </td>
                <td>
                    <input type="search" class="table-search" id="last-name-search-input" onkeyup="tableSearch('customer-list', 'last-name-search-input', 1)" placeholder="Search">
                </td>
                <td>
                    <input type="search" class="table-search" id="country-search-input" onkeyup="tableSearch('customer-list', 'country-search-input', 2)" placeholder="Search">
                </td>
                <td>
                    search
                </td>
                <td></td>
            </tr>
        </table>
    {#</div>#}

    <div class="list-section" id="list-body">
        <table id="customer-list">
            {#<tr>#}
                {#<td>First Name</td>#}
                {#<td>Last Name</td>#}
                {#<td>Country</td>#}
                {#<td>City</td>#}
            {#</tr>#}
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.idCountries.name }}</td>
                    <td>{{ customer.idCities.name }}</td>
                    <td><a href="{{ path('admin_customer', {'pathSlug': customer.pathSlug}) }}"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
