{% if pagination | length <= 0 %}
    <tr>
        <td colspan="5">No Customers</td>
    </tr>
{% else %}
    {% for customer in pagination %}
        <tr class="entity-list-row">
            <td>{{ customer.identificationNumber }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>
                {% if customer.idUsers is not null %}
                {{ customer.idUsers.login }}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('customer_show', {'pathSlug': customer.pathSlug}) }}">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            </td>
        </tr>
    {% endfor %}
{% endif %}

<tr>
    <td colspan="5">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </td>
</tr>
