{# V1 #}
{#{% for category in categories if category.parent is null %}#}
{#    <div class="dropright">#}
{#        <a href="{{ path('search_home', {'category': category.identifier}) }}">#}
{#            <span>{{ category.name }}</span>#}
{#        </a>#}
{#        <span style="float: right;"><i class="fas fa-chevron-right"></i></span>#}
{#        <div class="dropright-content">#}
{#        {% for categoryIn in categories if categoryIn.parent == category %}#}
{#            <a href="{{ path('search_home', {'category': categoryIn.identifier}) }}">#}
{#                <div>#}
{#                    {{ categoryIn.name }}#}
{#                </div>#}
{#            </a>#}
{#        {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}


{% for category in categories if category.parent is null %}
    <div class="dropright" style="margin: 0.25em 0;">
        <a href="{{ path('search_home', {'category': category.identifier}) }}">
            <span>{{ category.icon|raw }} {{ category.name }}</span>
        </a>
{#        <span style="float: right;"><i class="fas fa-chevron-right"></i></span>#}
        <div class="dropright-content">
            {% for categoryIn in categories if categoryIn.parent == category %}
                <a href="{{ path('search_home', {'category': categoryIn.identifier}) }}">
                    <div>
                        {{ categoryIn.name }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}
