{% extends '@Infrastructure/base.html.twig' %}

{% block title 'Place order' %}

{% block content %}
    {{ form_start(form) }}
        <div class="place-order-customer">
            {% if form.customers is defined and form.customers is not null  %}
                {{ form_label(form.customers) }}<br>
                {{ form_widget(form.customers) }}
            {% endif %}
        </div>
        <div class="place-order-form">
            <table>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Availability</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="text" id="nameSearch" onkeyup="tableSearch(this)" placeholder="Search..." title="Search">
                    </td>
                    <td>
                        <input type="text" id="sizeSearch" onkeyup="tableSearch(this)" placeholder="Search..." title="Search">
                    </td>
                </tr>
                {% for key, productSize in form.productsSizes %}
                <tr>
                    <td class="product-list-names">
                        {{ form_widget(form.productsSizes[key]) }}
                    </td>
                    <td>
                        {{ form_label(form.productsSizes[key]) }}
                    </td>
                    <td>
                        {{ form_label(form.sizes[key]) }}
                        <div class="hidden">
                            {{ form_widget(form.sizes[key]) }}
                        </div>
                    </td>
                    <td class="product-list-quantities">
                        {{ form_widget(form.quantities[key]) }}
                    </td>
                    <td class="product-list-availabilities">
                        {{ form_label(form.availabilities[key]) }}
                        <div class="hidden">
                            {{ form_widget(form.availabilities[key]) }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ form_widget(form.save) }}</td>
                </tr>
            </table>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='scssphp' output='css/app.css'
    '@OrderBundle/Resources/public/css/OrderPlacement/new.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@OrderBundle/Resources/public/js/OrderPlacement/new.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
