{% extends '@Infrastructure/base.html.twig' %}

{% block title 'Order summary' %}

{% block content %}
    Customer:
    {{ productPlacement.customers.fullName }}
    <br><br>
    Selected products: <br>
    <div class="place-order-summary">
        <table>
            <tr>
                <th>Quantity</th>
                <th>Name</th>
                <th>Size</th>
            </tr>
            {% for key, productSize in productPlacement.productsSizes if productSize %}
                <tr>
                    <td>
                        {{ productPlacement.quantities[key] }}x
                    </td>
                    <td>
                        {{ productPlacement.productsSizes[key].idProducts.name }}
                    </td>
                    <td>
                        {{ productPlacement.productsSizes[key].idSizes.name }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='scssphp' output='css/order_placement_summmary.css'
    '@OrderBundle/Resources/public/css/OrderPlacement/summary.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}