{% extends 'base.html.twig' %}

{% block title %}Add Order{% endblock %}

{% block body_title %}Add Order{% endblock %}

{% block body %}
{{ form_start(form) }}
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                Selected
            </td>
            <td>
                Quantity
            </td>
        </tr>
    {% for product in form.idProducts %}
        <tr>
            <td>
                {{ form_widget(product.name) }}
            </td>
            <td>
                {{ form_widget(product.isSelected) }}
            </td>
            <td>
                {{ form_widget(product.quantity) }}
            </td>
        </tr>
    {% endfor %}
    </table>
    {{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}
