{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    <style>
        td {
            border: 0;
        }
    </style>
{% endblock %}

{% block body %}
    {% if not app.user %}
        <form action="{{ path('security_login') }}" method="post">
            <table class="input-table">
                {% if error %}
                <tr>
                    <td></td>
                    <td>
                        <span style="color:red">{{ error.message }}</span>
                    </td>
                    <td></td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                    <td>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="password" id="password" name="_password" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ path('homepage') }}" />
                    </td>
                    <td>
                        <button type="submit">login</button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    {% elseif app.user %}
        User already logged in.<br>
        You have to log out first in order to log in again.
    {% endif %}
{% endblock %}