{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block actionBar %}
    <a href="{{ path('product_list') }}">
        <div class="button action-bar-button">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            List
        </div>
    </a>
    {% if product.dateDeleted is null %}
        {#<div class="button action-bar-button delete-button" onclick="showConfirmationBox('Are You sure You want to delete the product?', '{{ path('product_delete', {'pathSlug': product.pathSlug}) }}')">#}
            {#Delete Product#}
        {#</div>#}
    {% else %}
        {# TODO: finish #}
        {#<a href="{{ path('product_restore', {'pathSlug': product.pathSlug}) }}">#}
        {#<div class="button action-bar-button">#}
        {#Restore Product#}
        {#</div>#}
        {#</a>#}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="module-box">
        {#{% for image in productImages %}#}
        {% for image in product.productImages %}
            <img src="{{ asset(image.filePath) }}" width="200">
        {% endfor %}
    </div>
    <div class="module-box">
        <div class="module-box-title">Variants</div>
        <div class="module-box-content">
{#            {% for variant in product.productVariants %}#}
{#                {{ variant.variant.name }}#}
{#                #}{#TODO: change variant id to some code/pathSlug#}
{#                <input type="radio" value="{{ variant.variant.id }}">#}
{#                <br>#}
{#            {% endfor %}#}
{#            ### Choose size (only available) and quantity <br>#}
{#            Quantity:#}
{#            <input type="number" value="1">#}
{#            <a href="#" class="button" id="add-to-cart" data-product="{{ product.pathSlug }}">#}
{#                Add to cart#}
{#                <i class="fas fa-cart-plus"></i>#}
{#            </a>#}

{#            <hr>#}

            {{ form_start(form) }}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('add_to_cart') }}">
            {{ form_end(form) }}
        </div>
    </div>
    <div class="module-box">
        <div class="module-box-title">General</div>
        <div class="module-box-content">
            <table class="entity-show-table">
                <tr>
                    <td>Name</td>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{ product.category.name }}</td>
                </tr>
                <tr>
                    <td>Producer</td>
                    <td>
                        <a href="{{ path('producer_show', {'pathSlug': product.producer.pathSlug}) }}">
                            {{ product.producer.fullName }}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if product.productVariants is defined and product.productVariants is not null %}
        <div class="module-box">
            <div class="module-box-title">Availability</div>
            <div class="module-box-content">
                <table class="entity-show-table product-sizes-table">
                    <tr>
                        <th>Variant</th>
                        <th>Quantity</th>
                    </tr>
                    {% for productVariant in product.productVariants %}
                        <tr>
                            <td>{{ productVariant.variant.name }}</td>
                            <td>{{ productVariant.availability }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    <div class="module-box">
        <div class="module-box-title">Parameters</div>
        <div class="module-box-content">
            {% for productParameter in product.productParameters %}
                {{ productParameter.parameter.name }}
                {{ productParameter.value }}
                {{ productParameter.parameter.unit }}
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('product_show') }}
{% endblock %}
