{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 2fr 3fr 1fr;
            grid-template-areas:
                    'images description price'
        ;

            grid-gap: 10px;
            padding: 10px;
        }
        .grid-container > div {
            background-color: #ffffff;
            padding: 20px 20px;
            border-radius: 5px;
        }
        .grid-images {
            grid-area: images;
        }
        .grid-description {
            grid-area: description;
        }
        .grid-price {
            grid-area: price;
        }
    </style>

    <div class="grid-container">
        <div class="grid-images">
            <div class="fotorama"
                 data-width="100%"
{#                 data-height="600"#}
                 data-allowfullscreen="true"
                 data-loop="true"
                 data-arrows="true"
                 data-click="true"
                 data-swipe="true"
                 data-trackpad="true"
            >
                {% for image in product.productImages %}
                    <img src="{{ asset(image.filePath) }}" width="200" hidden>
                {% endfor %}
            </div>
        </div>
        <div class="grid-description">
            <h3 style="margin: 0.5em 0;">{{ product.name }}</h3>
            <span style="color: #777;"><b>{{ product.store.shortName }}</b></span><br>
            <span>{{ product.description }}</span><br>
            <span>Full Product Specification</span><br>
            {% for productParameter in product.productParameters %}
                <span style="color: #aaa;">{{ productParameter.parameter.name }}</span> {{ productParameter.value }} {{ productParameter.parameter.unit }}<br>
            {% endfor %}
        </div>
        <div class="grid-price">€ {{ product.price }}</div>
    </div>



{#    <div class="module-box">#}
{#        <div class="fotorama"#}
{#             data-width="800"#}
{#             data-height="600"#}
{#             data-allowfullscreen="true"#}
{#             data-loop="true"#}
{#             data-arrows="true"#}
{#             data-click="true"#}
{#             data-swipe="true"#}
{#             data-trackpad="true"#}
{#        >#}
{#        {% for image in product.productImages %}#}
{#            <img src="{{ asset(image.filePath) }}" width="200">#}
{#        {% endfor %}#}
{#        </div>#}
{#    </div>#}
    <div class="module-box">
        <div class="module-box-title">Variants</div>
        <div class="module-box-content">
            {{ form_start(form) }}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('add_to_cart') }}">
            {{ form_end(form) }}
        </div>
    </div>
    <div class="module-box">
        <div class="module-box-title">General</div>
        <div class="module-box-content">
            <table class="entity-show-table">
                <tr>
                    <td>Name</td>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{ product.category.name }}</td>
                </tr>
                <tr>
                    <td>Producer</td>
                    <td>
                        <a href="{{ path('store_show', {'identifier': product.store.identifier}) }}">
                            {{ product.store.fullName }}
                        </a>
                        (Joined: {{ product.store.dateCreated | date('Y-m') }})
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if product.productVariants is defined and product.productVariants is not null %}
        <div class="module-box">
            <div class="module-box-title">Availability</div>
            <div class="module-box-content">
                <table class="entity-show-table product-sizes-table">
                    <tr>
                        <th>Variant</th>
                        <th>Quantity</th>
                    </tr>
                    {% for productVariant in product.productVariants %}
                        <tr>
                            <td>{{ productVariant.variant.name }}</td>
                            <td>{{ productVariant.availability }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    <div class="module-box">
        <div class="module-box-title">Parameters</div>
        <div class="module-box-content">
            {% for productParameter in product.productParameters %}
                {{ productParameter.parameter.name }}
                {{ productParameter.value }}
                {{ productParameter.parameter.unit }}
                <br>
            {% endfor %}
        </div>
    </div>

    <div class="module-box">
        <div class="module-box-title">Reviews</div>
        <div class="module-box-content">
            {% for review in product.productReviews %}
                {% for rating in 1..review.rating if review.rating != 0 %}
                    <img src="{{ asset('uploads/images/_star_4.png') }}" alt="" width="30">
                {% endfor %}
                {% for rating in (review.rating+1)..5 if review.rating != 5 %}
                    <img src="{{ asset('uploads/images/_star_0.png') }}" alt="" width="30">
                {% endfor %}
                {{ review.content }}
                <br>
            {% endfor %}
        </div>
    </div>

    <div class="module-box">
        <div class="module-box-title">Orders</div>
        <div class="module-box-content">
            {% for productVariant in product.productVariants %}
                {% for orderProductVariant in productVariant.orderProductVariants %}
                    {{ orderProductVariant.order.user.login }} -
                    {{ orderProductVariant.quantity }} x {{ orderProductVariant.productVariant.variant.name }}
                    ({{ orderProductVariant.order.dateCreated | date('d.m.Y') }})
                    <br>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('product_show') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
{% endblock %}
