{% if pageCount > 1 %}
<style>
    .pagination span {
        margin: 0 0.5em;
    }
</style>

<div class="pagination" style="display: flex; justify-content: flex-end; align-items: center; margin-right: 0;">
{#    {{ current - (pagesInRange|length - 1) }}#}
    {% if last > pagesInRange|length and current - (pagesInRange|length - 1)/2 > first %}
    <span>
        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
            {{ first }}
        </a>
    </span>
    ...
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <span>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">
                    {{ page }}
                </a>
            </span>
        {% else %}
            <span>
                <b>
                    {{ page }}
                </b>
            </span>
        {% endif %}
    {% endfor %}



    {% if last > pagesInRange | length and current + (pagesInRange|length - 1)/2 < last %}
    ...
    <span>
        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
            {{ last }}
        </a>
    </span>
    {% endif %}

    <div>
        {% if next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
            <div style="background: #D3D3D3; border-radius: 0.5em; padding: 0.5em 0.75em;">
                Next
                <i class="fas fa-chevron-right"></i>
            </div>
        </a>
        {% else %}
        <div style="background: #D3D3D3; border-radius: 0.5em; padding: 0.5em 0.75em; color: #aaa;">
            Next
            <i class="fas fa-chevron-right"></i>
        </div>
        {% endif %}
    </div>
</div>





{#    <div class="pagination">#}
{#        {% if first is defined and current == first %}#}
{#            <div class="button first inactive">#}
{#                &lt;&lt;#}
{#            </div>#}
{#            <div class="button previous inactive">#}
{#                &lt;#}
{#            </div>#}
{#        {% elseif first is defined and current != first %}#}
{#            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">#}
{#                <div class="button first">#}
{#                    &lt;&lt;#}
{#                </div>#}
{#            </a>#}
{#        {% endif %}#}

{#        {% if previous is defined %}#}
{#            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">#}
{#                <div class="button previous">#}
{#                    &lt;#}
{#                </div>#}
{#            </a>#}
{#        {% endif %}#}

{#        {% for page in pagesInRange %}#}
{#            {% if page != current %}#}
{#                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">#}
{#                    <div class="button page">#}
{#                        {{ page }}#}
{#                    </div>#}
{#                </a>#}
{#            {% else %}#}
{#                <div class="button active current">#}
{#                    {{ page }}#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}

{#        {% if next is defined %}#}
{#            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">#}
{#                <div class="button next">#}
{#                    &gt;#}
{#                </div>#}
{#            </a>#}
{#        {% endif %}#}

{#        {% if last is defined and current == last %}#}
{#            <div class="button next inactive">#}
{#                &gt;#}
{#            </div>#}
{#            <div class="button last inactive">#}
{#                &gt;&gt;#}
{#            </div>#}
{#        {% elseif last is defined and current != last %}#}
{#            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">#}
{#                <div class="button last">#}
{#                    &gt;&gt;#}
{#                    {{ last }}#}
{#                </div>#}
{#            </a>#}
{#        {% endif %}#}
{#        <br>#}
{#        <div class="pagination-footer">#}
{#            {{ firstItemNumber }} - {{ lastItemNumber }} / {{ totalCount }}#}
{#        </div>#}
{#    </div>#}
{% endif %}
