{% extends '@Infrastructure/base.html.twig' %}

{% block title %}User list{% endblock %}

{% block content %}
    {#<table class="entity-list invoices-list">#}
        {#<th>#}
            {#Login#}
        {#</th>#}
        {#<th>#}
            {#Email#}
        {#</th>#}
        {#<th>#}
            {#Role#}
        {#</th>#}
        {#{% for user in users %}#}
            {#<tr class="entity-list-row">#}
                {#<td class="entity-list-cell">#}
                    {#{{ user.login }}#}
                {#</td>#}
                {#<td class="entity-list-cell">#}
                    {#{{ user.email }}#}
                {#</td>#}
                {#<td class="entity-list-cell">#}
                    {#{{ user.idRoles.name }}#}
                {#</td>#}
                {#<td class="entity-list-cell">#}
                    {#<a href="{{ path('user_show', {'pathSlug': user.pathSlug}) }}">#}
                        {#<i class="fa fa-chevron-right" aria-hidden="true"></i>#}
                    {#</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    {#</table>#}

    <table class="entity-list order-list">
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Login', 'u.login') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Role', 'r.name') }}</th>
            {#{% if is_granted('ROLE_ADMIN') %}#}
                {#<th>{{ knp_pagination_sortable(pagination, 'Customer', 'c.fullName') }}</th>#}
                {#<th>User Created</th>#}
            {#{% endif %}#}
        </tr>

        {% for user in pagination %}
            <tr class="entity-list-row">
                {#<td>{{ order.dateCreated | date('d.m.Y') }}</td>#}
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.idRoles.name }}</td>
                {#{% if is_granted('ROLE_ADMIN') %}#}
                    {#<td>{{ order.idCustomers.fullName }}</td>#}
                    {#<td>{{ order.userCreated.login }}</td>#}
                {#{% endif %}#}
                <td>
                    <a href="{{ path('user_show', {'pathSlug': user.pathSlug}) }}">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}