{% extends '@Infrastructure/entity-show.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
    {{ user.login }}<br>
    {{ user.email }}<br>
    {{ user.idRoles.name }}

    <br><br>

    {% if customer is defined and customer is not null %}
        <table class="entity-show">
            <tr>
                <td>
                    Identification Number
                </td>
                <td>
                    {{ customer.identificationNumber }}
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                </td>
                <td>
                    {{ customer.gender }}
                </td>
            </tr>
            <tr>
                <td>
                    Full Name
                </td>
                <td>
                    {{ customer.fullName }}
                </td>
            </tr>
        </table>
    {% endif %}

    {% if configuration is defined and configuration is not null %}
        Configuration:
        <br>
        Dark mode:
        {{ configuration.dark_mode ? 'true' : 'false' }}
    {% endif %}
{% endblock %}