{% extends '@Infrastructure/baseList.html.twig' %}

{% block title 'Login Attempts' %}

{% block entityList %}
    <table class="entity-list">
        <colgroup>
            <col>
            <col width="400px">
            <col width="100px">
        </colgroup>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Date Created', 'la.dateCreated') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'User', 'u.login') }}</th>
            <th>Failed?</th>
        </tr>
        <tr class="entity-list-filters">
            <td>
                <input type="text" onkeyup="filterSearch(this, 'la.dateCreated', '{{ path('access_control_login_attempt_async_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'u.login', '{{ path('access_control_login_attempt_async_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                {#<input type="text" onkeyup="filterSearch(this, 'pr.shortName', '{{ path('product_async_list') }}')" placeholder="Search..." title="Search">#}
            </td>
        </tr>
        <tbody class="entity-list-content"></tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            filterSearch(undefined, undefined, '{{ path('access_control_login_attempt_async_list') }}');
        });
    </script>
{% endblock %}
