<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400" rel="stylesheet">
</head>
<body>
    {% if app.environment == 'dev' %}
        <div style="position: fixed; bottom: 35px;">{{ dump() }}</div>
    {% endif %}
    {% include '@Infrastructure/Templates/main_menu.html.twig' %}
    {{ block('content') }}

    <div class="body-overlay"></div>
</body>

{% stylesheets filter='scssphp' output='css/app.css'
'@InfrastructureBundle/Resources/public/css/base.scss'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

</html>