<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% spaceless %}
        {% if block('title') is defined %}
            {{ block('title') }}
        {% else %}
            Hanna Agency
        {% endif %}
    {% endspaceless %}</title>
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{# TODO: change favicon ? #}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon3.png') }}" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
    {% stylesheets filter='scssphp' output='css/app.css'
    '@InfrastructureBundle/Resources/public/css/base.scss'
    '@InfrastructureBundle/Resources/public/css/main_menu.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% if block('stylesheets') is defined %}{{ block('stylesheets') }}{% endif %}
</head>
{# ----------------------- BODY ----------------------- #}
<body>
    <div class="main-menu">
        {% include '@Infrastructure/Parts/main_menu.html.twig' %}
    </div>

    <div class="top-bar">
        <div class="page-title">
            <h1>{{ block('title') }}</h1>
        </div>

        {# TODO: eventually define all actionBars in controllers, then the first if not needed #}
        <div class="action-bar">
            <div class="action-bar-content">
            {% if block('actionBar') is defined and block('actionBar') is not null %}
                {{ block('actionBar') }}
            {% elseif actionBar is defined and actionBar is not null %}
                {% for button in actionBar %}
                    {% if button.role is not defined or is_granted(button.role) %}
                        <a href="{{ path(button.path) }}">
                            <div class="button action-bar-button">
                                {{ button.label }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}


                {% if isExportAllowed is defined and isExportAllowed %}
                    <div class="action-bar-export">
                        <div class="button action-bar-button action-bar-export-button">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </div>
                        <ul class="action-bar-export-list">
                            {% if pdfExportPath is defined %}
                                <li class="hidden">
                                    <a class="button" href="{{ pdfExportPath }}/{{ pdfExportJson ?? pdfExportPathSlug }}">
                                        PDF
                                    </a>
                                </li>
                            {% endif %}
                            {% if excelExportPath is defined %}
                                <li class="hidden">
                                    <a class="button" href="{{ excelExportPath }}">
                                        Excel
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>

    <div class="page-content">
        {{ block('content') }}
    </div>

    <div class="flash-message-list">
        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
                <div class="flash-message flash-{{ type }}">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="confirmation-box">
        <span class="confirmation-message">
            Nothing!
        </span>
        <br>
        <div class="button no-button">No</div>
        <a class="yes-button-anchor">
            <div class="button yes-button">Yes</div>
        </a>
    </div>

    <div class="body-overlay"></div>

    <footer>
        <ul>
            <li>
                <span class="copyright">
                    &#9400;
                </span>
                2017 Hanna Agency
            </li>

            <li>
                {# TODO: add link to contact site #}
                <a href="{{ path('homepage_contact') }}">
                    Contact
                </a>
            </li>
            <li>
                MORE...
            </li>
        </ul>
    </footer>

    {# TODO: deploy: delete #}
    {#{% if app.debug %}#}
        {#<div style="position: fixed; bottom: 35px;">#}
            {#{{ dump() }}#}
            {#{{ dump(app.session.get('configuration')) }}#}
        {#</div>#}
    {#{% endif %}#}
</body>
{# ----------------------- JS ----------------------- #}
{% if (block('actionBar') is not defined or block('actionBar') is null) and
    (actionBar is not defined or actionBar is null) %}
{% stylesheets filter='scssphp' output='css/no_action_bar.css'
'@InfrastructureBundle/Resources/public/css/no_action_bar.scss'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endif %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% javascripts
'@InfrastructureBundle/Resources/public/js/base.js'
'@InfrastructureBundle/Resources/public/js/filters.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% if block('javascripts') is defined %}{{ block('javascripts') }}{% endif %}
</html>