{% extends 'base.html.twig' %}

{% block content %}
    ### TODO: password change, account delete, 2FA

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                'user-information preferences'
                '. password-change'
        ;

            grid-gap: 10px;
            padding: 10px;
        }

        @media screen and (max-width: 800px) {
            .grid-container {
                grid-template-columns: 1fr;
                grid-template-areas:
                    'user-information'
                    'preferences'
                    'password-change'
            ;
            }
        }

        .grid-item {
            background-color: #aaa;
            padding: 20px 20px;
            border-radius: 5px;
        }
        .grid-item input {
            /*width: 100%;*/
        }
        .grid-user-information {
            grid-area: user-information;
        }
        .grid-preferences {
            grid-area: preferences;
        }
        .grid-password-change {
            grid-area: password-change;
        }

        .settings-section {
            background: #DDDDDD;
            border: 1px solid black;
            margin: 1em;
            padding: 1em;
        }

        .account-settings-address {
            display: flex;
            flex-direction: column;
            width: 25%;
            /*padding: 10px;*/
        }

        .form-row {
            display: flex;
        }

        .form-row-label, .form-row-widget {
            padding: 5px;
        }

        .form-row-label {
            width: 30%;
            text-align: right;
        }

        .form-row-widget {
            display: flex;
            width: 70%;
        }

        .form-row-widget input, .form-row-widget select {
            width: 100%;
        }
    </style>

    <div class="grid-container">
        <div class="grid-item grid-user-information">
            <b>User Information</b>

            {{ form_start(userInformationForm) }}
                {% for fieldName in ['firstName', 'lastName', 'gender', 'submit'] %}
                    <div class="form-row">
                        <div class="form-row-label">
                            {{ form_label(userInformationForm[fieldName]) }}
                        </div>
                        <div class="form-row-widget">
                            {{ form_widget(userInformationForm[fieldName]) }}
                        </div>
                    </div>
                {% endfor %}
            {{ form_end(userInformationForm) }}
        </div>

        <div class="grid-item grid-preferences">
            <b>Preferences</b>

            {{ form_start(form) }}
            {% for fieldName in ['newsletter', 'locale', 'submit'] %}
                <div class="form-row">
                    <div class="form-row-label">
                        {{ form_label(form[fieldName]) }}
                    </div>
                    <div class="form-row-widget">
                        {{ form_widget(form[fieldName]) }}
                    </div>
                </div>
            {% endfor %}
{#                <div style="display: flex">#}
{#                    {{ form_row(form.newsletter) }}#}
{#                </div>#}
            {{ form_end(form) }}
        </div>

        <div class="grid-item grid-addresses">
            <b>{{ form_label(addressesForm) }}</b>

            {{ form_start(addressesForm) }}
            <ul id="address-fields-list"
                data-prototype="
                    {{ form_widget(addressesForm.addresses.vars.prototype.name)|e }}
                    {{ form_widget(addressesForm.addresses.vars.prototype.country)|e }}
                    {{ form_widget(addressesForm.addresses.vars.prototype.street)|e }}
                    {{ form_widget(addressesForm.addresses.vars.prototype.zipCode)|e }}
                    <div class=&quot;button remove-address&quot;>-</div>
                "
                data-widget-tags="{{ '<li class="account-settings-address"></li>'|e }}"
                data-widget-counter="{{ addressesForm.addresses|length }}"
                style="display: flex; flex-wrap: wrap; padding: 0;"
            >
            {% for address in addressesForm.addresses %}
                <li class="account-settings-address">
                    {{ form_widget(address.name) }}
                    {{ form_widget(address.country) }}
                    {{ form_widget(address.street) }}
                    {{ form_widget(address.zipCode) }}
                    <div class="button remove-address">-</div>
                </li>
            {% endfor %}
            </ul>
            <div class="button" id="add-address" data-list-selector="#address-fields-list">
                Add another address
            </div>
            {{ form_end(addressesForm) }}
        </div>

        <div class="grid-item grid-password-change">
            <b>Password Change</b>

            {{ form_start(changePasswordForm) }}
            <div class="form-row">
                <div class="form-row-label">{{ form_label(changePasswordForm.oldPassword) }}</div>
                <div class="form-row-widget">{{ form_widget(changePasswordForm.oldPassword) }}</div>
            </div>
            <div class="form-row">
                <div class="form-row-label">{{ form_label(changePasswordForm.newPassword.first) }}</div>
                <div class="form-row-widget">{{ form_widget(changePasswordForm.newPassword.first) }}</div>
            </div>
            <div class="form-row">
                <div class="form-row-label">{{ form_label(changePasswordForm.newPassword.second) }}</div>
                <div class="form-row-widget">{{ form_widget(changePasswordForm.newPassword.second) }}</div>
            </div>

                <div class="form-row">
                    <div class="form-row-label"></div>
                    <div class="form-row-widget">{{ form_row(changePasswordForm.submit) }}</div>
                </div>
            {{ form_end(changePasswordForm) }}
        </div>
    </div>

    <div class="settings-section">
        <a class="button" href="" style="background: maroon" onclick="return confirm('Are you sure?')">
            Delete account
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('account_settings') }}
{% endblock %}
