{% extends 'base.html.twig' %}

{% block title %}{{ company.shortName }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('producer_show') }}
{% endblock %}

{% block content %}
    <h1>{{ company.fullName }}</h1>

    <div class="company-top-bar">
        <div class="company-top-bar-item" id="top-bar-products">
            Products
        </div>
        <div class="company-top-bar-item" id="top-bar-opinions">
            Opinions
        </div>
        <div class="company-top-bar-item" id="top-bar-contact">
            Contact
        </div>
    </div>


    <div id="page-products">
        ffffffffffffffffffffff
    </div>

    <div id="page-contact">
        if producer:
        <i class="fas fa-edit"></i>
        {{ company.firstName }} {{ company.lastName }}<br>
        {{ company.street }}<br>
        {{ company.postalCode }} {{ company.idCities.name }}<br>
        {{ company.idCountries.name }}<br>
        {{ company.email | lower }}<br>
        {{ company.phone }}<br>
        VAT: {{ company.vat }}<br>
        + MAP?
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('producer_show') }}
{% endblock %}