<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% spaceless %}
                {% if block('title') is defined %}
                    {{ block('title') }}
                {% else %}
                    E-commerce
                {% endif %}
            {% endspaceless %}</title>
        <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% spaceless %}
        {% block base_stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('product_cell') }}
        {% endblock %}
        {% if block('stylesheets') is defined %}
            {{ block('stylesheets') }}
        {% endif %}
        {% endspaceless %}
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="top-bar-wrapper">
            <div id="top-bar">
                <a href="{{ path('homepage_homepage') }}">
                    <div class="top-bar-item">
{#                        <i class="fas fa-globe"></i>#}
                        <i class="fas fa-ambulance"></i>
{#                        <span>EUbuy</span>#}
                        <span>EuEuEuEuBuy</span>
                    </div>
                </a>

                {{ render(controller(
                    'App\\Controller\\Search\\SearchController::searchBar',
                    {
                        'searchQuery': searchQuery | default(''),
                        'searchCategory': searchCategory | default('')
                    }
                )) }}

                <div class="dropdown">
                    <div class="top-bar-item">
                        <i class="fas fa-user"></i>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="dropdown-content dropdown-content-left">
                        <div style="background: #bbb;">
                            {% if app.user %}
                                <i class="fas fa-user-circle"></i> {{ app.user.login }}
                            {% endif %}
                        </div>

                        {% if is_granted('ROLE_STORE_ADMIN') %}
                            <a href="{{ path('store_show', {identifier: app.user.stores[0].identifier}) }}">
                                <div>
                                    <b>{{ app.user.stores[0].shortName }}</b>
                                </div>
                            </a>

                            <a href="{{ path('store_dashboard') }}">
                                <div>
                                    <i class="fas fa-tachometer-alt"></i>
                                    <span>Dashboard</span>
                                </div>
                            </a>
                            <a href="{{ path('inventory_home') }}">
                                <div>
                                    <i class="fas fa-warehouse"></i>
                                    <span>My Inventory</span>
                                </div>
                            </a>
                        {% endif %}

                        {% if app.user %}
                            {% if is_granted('ROLE_STORE_SUBUSER') %}
                                <a class="button" href="{{ path('store_logout') }}">Store Logout</a>
                            {% elseif app.user.storeSubusers is not empty %}
                                {% for storeSubuser in app.user.storeSubusers %}
                                    <a class="button" href="{{ path('store_login', {'identifier': storeSubuser.store.identifier}) }}">
                                        {{ storeSubuser.store.shortName }} login <i class="fas fa-chevron-right"></i>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endif %}

                        {% if is_granted('ROLE_STORE_ADMIN') %}
                        <a href="{{ path('store_subuser_list') }}">
                            <div style="padding: 0.5em 0;">
                                Subuser list
                            </div>
                        </a>
                        {% endif %}

{#                        <hr>#}

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
{#                            <a href="{{ path('admin_panel_index') }}">#}
                                <div>
                                    <i class="fas fa-user-shield"></i> Admin panel
                                </div>
{#                            </a>#}
                        {% endif %}

                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('order_list') }}">
                            <div>
                                <i class="fas fa-list"></i> Orders
                            </div>
                        </a>
                        <a href="{{ path('settings_index') }}">
                            <div>
                                <i class="fas fa-cog"></i> Settings
                            </div>
                        </a>
                        {% endif %}
{#                        <div>#}
                            {% if not app.user %}
                                <a href="{{ path('access_control_login') }}">
                                    <div>
                                        <span>Log in</span>
                                        <i class="fas fa-sign-in-alt"></i>
                                    </div>
                                </a>
                            {% elseif app.user %}
                                <a href="{{ path('logout') }}">
                                    <div>
                                        <span>Log out</span>
                                        <i class="fas fa-sign-out-alt"></i>
                                    </div>
                                </a>
                            {% endif %}
{#                        </div>#}

                    </div>
                </div>

{#                <a href="{{ path('cart_home') }}">#}
                <div class="top-bar-item tooltip dropdown">
                    <i class="fas fa-globe"></i>
                    <span class="tooltiptext">???</span>
                    <div class="dropdown-content dropdown-content-left" style="padding: 10px;">
                        {{ render(controller(
                            'App\\Controller\\I18n\\I18nController::dropdown',
                            {
                            }
                        )) }}
                    </div>
                </div>
{#                </a>#}
                <a href="{{ path('cart_home') }}">
                    <div class="top-bar-item tooltip">
                        <i class="fas fa-shopping-cart"></i>
                        {#                        ({{ cartTotal }})#}
                        <span class="tooltiptext">Cart</span>
                        <span style="background: #ff6666; position: absolute; top: 0; right: -10px; border-radius: 5px; padding: 0.125em 0.25em; min-width: 1em; text-align: center; font-size: 16px;" id="top-bar-icon-cart-total">{{ cartTotal }}</span>
                    </div>
                </a>
{#                <a href="{{ path('conversation_list') }}">#}
                <div class="top-bar-item tooltip">
                    <i class="fas fa-heart"></i>
                    <span class="tooltiptext">Wishlist</span>
                </div>
{#                </a>#}
                <a href="{{ path('conversation_list') }}">
                    <div class="top-bar-item tooltip">
                        <i class="fas fa-envelope"></i>
                        <span class="tooltiptext">Messages</span>
                    </div>
                </a>
{#                <a href="{{ path('conversation_list') }}">#}
                <div class="top-bar-item tooltip">
                    <i class="fas fa-question"></i>
                    <span class="tooltiptext">Help</span>
                </div>
{#                </a>#}
            </div>
        </div>

        <div class="page-content">
            {{ block('content') }}
        </div>

        {% if app.request.hasPreviousSession %}
        <div class="flash-message-list">
            {% for message in app.flashes('success') %}
                <div class="flash-message flash-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="flash-message flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="flash-message flash-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="flash-message flash-error">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="body-overlay"></div>

        <footer>
            <ul>
                <li>
                <span class="copyright">
                    &#9400;
                </span>
                    2017-{{ "now"|date("Y") }} EJAS
                </li>

                <li>
                    <a href="{{ path('homepage_contact') }}">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="{{ path('store_apply') }}">
                        Apply for store
                    </a>
                </li>
                <li>
                    MORE...
                </li>
                <li>
                    <a href="{{ path('test_test') }}">
                        DEV TEST
                    </a>
                </li>
            </ul>
            <a href="https://stripe.com/">
                <i class="fab fa-cc-stripe fa-2x"></i>
            </a>
        </footer>

        {# TODO: deploy: delete #}
        {# Twig dump #}
            {% if app.debug %}
                <div style="position: fixed; bottom: 35px; left:10px;">
{#                {{ dump() }}#}
                </div>
            {% endif %}
        {# Twig dump #}

        {% block base_javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('flash_message') }}
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% endblock %}
        {% if block('javascripts') is defined %}
            {{ block('javascripts') }}
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
        <script>
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000",
                        "text": "#ffffff"
                    },
                    "button": {
                        "background": "transparent",
                        "text": "#ff0000",
                        "border": "#ff0000"
                    }
                },
                "position": "bottom-right"
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
        <script>
            $('.select2').select2();
        </script>
    </body>
    {# ----------------------- JS ----------------------- #}

    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    {#{% javascripts#}
        {#'@InfrastructureBundle/Resources/public/js/base.js'#}
        {#'@InfrastructureBundle/Resources/public/js/filters.js'#}
        {#'@InfrastructureBundle/Resources/public/js/sorters.js'#}
    {#%}#}
        {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
</html>
