{% extends 'base.html.twig' %}

{% block title %}{{ store.shortName }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('store_show') }}
{% endblock %}

{% block content %}
    <h1>{{ store.fullName }}</h1>

    <div class="producer-top-bar">
        <div class="producer-top-bar-item active" id="top-bar-homepage" href="#homepage">
            Homepage
        </div>
        <div class="producer-top-bar-item" id="top-bar-products" href="#products">
            Products
        </div>
        <div class="producer-top-bar-item" id="top-bar-opinions" href="#opinions">
            Opinions
        </div>
        <div class="producer-top-bar-item" id="top-bar-contact" href="#contact">
            Contact
        </div>
        {% if editable %}
        <a href="">
            <div class="producer-top-bar-item" id="top-bar-contact" style="color: #cccccc;">
                Edit <i class="fas fa-edit"></i>
            </div>
        </a>
        {% endif %}
    </div>

    <div class="producer-subpage" id="subpage-homepage">
        Customizable frontpage
        <hr>
        {{ store.frontpageHtml | raw }}
    </div>

    <div class="producer-subpage hidden" id="subpage-products">
        <div class="producer-product-list">
            {% for product in store.activeProducts %}
                {% include 'Product/parts/_cell.html.twig' with {'product': product} %}
            {% endfor %}
        </div>
    </div>

    <div class="producer-subpage hidden" id="subpage-opinions">
        {% if store.opinions is empty %}
            No ratings
        {% endif %}

        {% for opinion in store.opinions %}
            {% for rating in 1..opinion.rating if opinion.rating != 0 %}
                <img src="{{ asset('uploads/images/_star_4.png') }}" alt="">
            {% endfor %}
            {% for rating in (opinion.rating+1)..5 if opinion.rating != 5 %}
                <img src="{{ asset('uploads/images/_star_0.png') }}" alt="">
            {% endfor %}
            {{ opinion.content }}
            <br>
        {% endfor %}
    </div>

    <div class="producer-subpage hidden" id="subpage-contact">
        if store:
        <i class="fas fa-edit"></i>
        {{ store.firstName }} {{ store.lastName }}<br>
        {{ store.street }}<br>
        {{ store.postalCode }} {{ store.city.name }}<br>
        {{ store.country.name }}<br>
        {{ store.email | lower }}<br>
        {{ store.phone }}<br>
        VAT: {{ store.vat }}<br>
        + MAP?
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('store_show') }}
{% endblock %}
