{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body_title %}Invoice{% endblock %}

{% block stylesheets %}
    <style>
        #invoice-product-list {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block body %}
{% set invoicePriceFinal = 0 %}

    Name: {{ invoice[0].iName }} <br>
    Date: {{ invoice[0].dateIssued|date('d-m-Y') }} <br>
    Customer: {{ invoice[0].firstName }} {{ invoice[0].lastName }} <br>
    <br>
    Products: <br>
    <table id="invoice-product-list">
        <tr>
            <td>Product</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Total Price</td>
        </tr>
        {% for invoice in invoice %}
            {% set productPriceFinal = invoice.quantity * invoice.priceFinal %}
            {% set invoicePriceFinal = invoicePriceFinal + productPriceFinal %}
            <tr>
                <td>{{ invoice.pName }}</td>
                <td>{{ invoice.quantity }}</td>
                <td>{{ invoice.priceFinal }}</td>
                <td>{{ productPriceFinal }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Final</td>
                <td>{{ invoicePriceFinal }}</td>
            </tr>
    </table>

    <br><br><br><br>
    Generate PDF button
{% endblock %}

