{% extends '@Infrastructure/baseNew.html.twig' %}

{% block title 'New Product' %}

{% block content %}
    {{ form_start(form) }}
    <table class="entity-new-table">
        {% for fieldName in ['name', 'idCategories', 'priceProducer', 'priceCustomer', 'idProducers'] %}
            <tr>
                <td>
                    {{ form_label(form[fieldName]) }}
                    {% if form[fieldName].vars.required %}
                        <span class="red">*</span>
                    {% else %}&nbsp;
                    {% endif %}
                </td>
                <td>{{ form_widget(form[fieldName]) }}</td>
            </tr>
        {% endfor %}

        <tbody class="size-list">
        {% for size in form.sizes %}
            <tr style="border-top: 1px solid black;">
                <td>{{ form_label(form.sizes) }}</td>
                <td>
                    {{ form_widget(size) }}
                </td>
            </tr>
        {% endfor %}
        {% for availability in form.availabilities %}
            <tr style="border-bottom: 1px solid black;">
                <td>{{ form_label(form.availabilities) }}</td>
                <td>
                    {{ form_widget(availability) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>

        <tr>
            <td></td>
            <td>
                <button id="add-size">Add another size</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{ form_widget(form.save) }}
                <span class="red">* - Required fields</span>
            </td>
        </tr>
    </table>

    {{ form_end(form) }}

    <script type="text/javascript">
        var sizeCount = '{{ form.sizes | length }}';

        function addSizeForm() {
            var sizeListPrototype = '<tr><td>{{ form_label(form.sizes) }}</td><td>';
            sizeListPrototype += '{{ form_widget(form.sizes.vars.prototype) }}';
            sizeListPrototype += '</td></tr><tr style="border-bottom: 1px solid black;"><td>{{ form_label(form.availabilities) }}</td><td>';
            sizeListPrototype += '{{ form_widget(form.availabilities.vars.prototype) }}';
            sizeListPrototype += '</td></tr>';

            sizeListPrototype = sizeListPrototype.replace(/__name__/g, sizeCount);
            sizeCount++;

            $('.size-list').append(sizeListPrototype);
        }

        $(function() {
            $('#add-size').click(function(e) {
                e.preventDefault();

                addSizeForm();
            });
        })
    </script>
{% endblock %}
