{% extends '@Infrastructure/baseList.html.twig' %}

{% block title 'Invoice List' %}

{#{% block actionBar %}#}
    {#<a href="{{ path('invoice_new') }}">#}
        {#<div class="button action-bar-button">#}
            {#New invoice#}
        {#</div>#}
    {#</a>#}
    {#<a href="{{ path('invoice_deleted_list') }}">#}
        {#<div class="button action-bar-button">#}
            {#Deleted invoices#}
        {#</div>#}
    {#</a>#}
{#{% endblock %}#}

{% block entityList %}
    <table class="entity-list invoice-list">
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Name', 'i.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Customer', 'c.firstName') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Issued By', 'u.login') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Date Issued', 'i.dateCreated') }}</th>
        </tr>
        {% for invoice in pagination %}
            <tr class="entity-list-row">
                <td class="entity-list-cell">
                    {{ invoice.name }}
                </td>
                <td class="entity-list-cell">
                    {{ invoice.idCustomers.fullName }}
                </td>
                <td class="entity-list-cell">
                    {{ invoice.userCreated.login }}
                </td>
                <td class="entity-list-cell">
                    {{ invoice.dateIssued | date('d.m.Y') }}
                </td>
                <td class="entity-list-cell">
                    <a href="{{ path('invoice_show', {'pathSlug': invoice.pathSlug}) }}">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}