{% extends 'base.html.twig' %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
    {% set totalPrice = 0 %}

    ### when +/- is pressed, ajax is sent to add/remove from cart,
    quantity is sent back and set to quantity-value and total product price


    {% for product in products %}
        <div class="product-item" style="display: flex; background: #b2dba1; margin: 1em 0; padding: 1em; justify-content: space-between;">
            {% include 'Product/parts/_firstImage.html.twig' with {'product': product} %}

            <span style="width: 50%;">{{ product.name }}</span>

            <div class="pricing" style="display: inline-block; width: 35%;">
                {#<ua class="button quantity-decrease">-</ua>#}
                {#<span class="quantity-value">{{ cart[product.pathSlug].quantity }}</span>#}
                <input type="number" class="quantity-value" min="1" value="{{ cart[product.pathSlug].quantity }}" data-product-price="{{ product.priceCustomer }}" style="width: 3em; font-size: 20px;">
                {#<ua class="button quantity-increase" data-product="{{ product.pathSlug }}">+</ua>#}
                x {{ product.priceCustomer }} =
                <span class="total-product-price">
                    {{ (product.priceCustomer * cart[product.pathSlug].quantity) | number_format(2, '.', '') }}
                </span>

                {% set totalPrice = totalPrice + product.priceCustomer * cart[product.pathSlug].quantity %}
            </div>

            <div>
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    {% endfor %}

    {% if products is empty %}
        <div style="text-align: center; font-size: 1.5em;">No products :(</div>
    {% else %}
        <div class="total-order-price" style="text-align: right">
            Total price: <span id="total-order-price">{{ totalPrice }}</span>
        </div>

        <pre>### coupons?</pre>

        <a href="{{ path('cart_summary') }}" class="button">Summary <i class="far fa-arrow-alt-circle-right"></i></a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('order_cart') }}
{% endblock %}
