{% extends 'base.html.twig' %}

{% block title %}Shopping cart - summary{% endblock %}

{% block stylesheets %}
    <style>
        #card-element input {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    ### somehow lock the session when summary is viewed, so you can't add more products in other tabs
    <br>

    {{ form_start(cartSummaryForm) }}

    <div style="border: 1px solid black">
        ### products from the cart
    </div>
    <div style="border: 1px solid black; display: flex; justify-content: space-around;">
        <div style="border: 1px solid black; display: inline-block; width: 50%;">
            <b>Shipment option</b>
            {{ form_widget(cartSummaryForm.shipmentOption) }}

            <style>
                #cart_summary_shipmentOption input {
                    position: absolute;
                    /*width: 30px;*/
                }
                #cart_summary_shipmentOption label {
                    background: #0f0;
                    padding: 1em;
                    margin: 0.5em;
                    cursor: pointer;
                    border: 1px solid black;
                }
                #cart_summary_shipmentOption label:hover {
                    background: #ff0;
                }
            </style>
        </div>
        <div style="border: 1px solid black; display: inline-block; width: 50%;">
            <b>Delivery address</b>
{#            {% for address in addresses %}#}
{#                <div style="border: 1px solid #122b40">#}
{#                    <h3>{{ address.name }}</h3>#}
{#                    {{ address.country.name }}#}
{#                </div>#}
{#            {% endfor %}#}
            {{ form_widget(cartSummaryForm.address) }}
            <div>
                Add new/other + FORM
            </div>
        </div>
    </div>
    <div style="border: 1px solid black">
        <div style="border: 1px solid black; display: inline-block;">
            ### Accept some things...
        </div>
        <div style="border: 1px solid black; display: inline-block;">
            ### continue to payment
        </div>
    </div>

    {{ form_end(cartSummaryForm) }}

    {{ form_start(form, {attr: {id: form.vars.id}}) }}
    <div class="form-group">
        <label for="card-element">
            Credit or Debit Card
        </label>
        <div id="card-element" class="form-control" style="background: orange; padding: 10px; width: 500px; box-shadow: 0 0 15px black; margin: 15px;"></div>
        <div id="card-errors" class="help-block" role="alert"></div>
    </div>
    {{ form_widget(form.token) }}
    <button type="submit" class="button">PAY <i class="fas fa-hand-holding-usd"></i></button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    // TODO: include on every page?
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">
        var form = document.getElementById('{{ form.vars.id }}');
        var errors = document.getElementById('card-errors');
        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements({locale: 'en'});

        var style = {
            base: {
                border: '1px solid black',
            }
        };

        var card = elements.create('card', {style: style});

        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            if (event.error) {
                errors.textContent = event.error.message;
                form.classList.add('has-error');
            } else {
                errors.textContent = '';
                form.classList.remove('has-error');
            }
        });

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    errors.textContent = result.error.message;
                    form.classList.add('has-error');
                } else {
                    document.getElementById('{{ form.children.token.vars.id }}').setAttribute('value', result.token.id);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}