{% extends 'base.html.twig' %}

{% block title %}Shopping cart - summary{% endblock %}

{% block stylesheets %}
    <style>
        #card-element input {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_start(cartSummaryForm, {attr: {id: cartSummaryForm.vars.id}}) }}

    <div style="border: 1px solid black">
        <b>{{ form_label(cartSummaryForm.products) }}</b>
        <input type="checkbox" id="select-all">
        <label for="select-all">Select all</label>

        {% for store in cartSummaryForm.products.vars.choices %}
            <div style="border: 1px solid black;">
                <h3>{{ store.label }}</h3>

                {% for productVariant in store %}
                    <div style="display: flex; align-items: center;">
                        {% set product = cartSummaryForm.products[productVariant.value] %}

                        {{ form_widget(product) }}
                        {% include 'Product/parts/_firstImage.html.twig' with {product: product} %}
                        {{ form_label(product) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div style="border: 1px solid black; display: flex; justify-content: space-around;">
        <div style="border: 1px solid black; display: inline-block; width: 50%;">
            <b>Shipment option</b>
            <div>
            {% for so in cartSummaryForm.shipmentOption %}
                <div class="cart_summary_shipmentOption">
                    {{ form_widget(so) }}
                    {{ form_label(so) }}
                </div>
            {% endfor %}
            </div>

            <style>
                .cart_summary_shipmentOption {
                    background: #0f0;
                    width: 100px;
                    display: inline-block;
                    /*padding: 1em;*/
                    text-align: center;
                    margin: 0.5em;
                    cursor: pointer;
                    border: 1px solid black;
                }
                .cart_summary_shipmentOption:hover {
                    background: #ff0;
                }
                .cart_summary_shipmentOption input {
                    /*opacity: 0;*/
                }
                .cart_summary_shipmentOption input:checked {
                    /*opacity: 1;*/
                }
            </style>
        </div>
        <div style="border: 1px solid black; display: inline-block; width: 50%;">
            <b>Delivery address</b>
{#            {% for address in addresses %}#}
{#                <div style="border: 1px solid #122b40">#}
{#                    <h3>{{ address.name }}</h3>#}
{#                    {{ address.country.name }}#}
{#                </div>#}
{#            {% endfor %}#}
            {{ form_widget(cartSummaryForm.address) }}
            <div>
                Add new/other + FORM
            </div>
        </div>
    </div>
    <div style="border: 1px solid black">
        <div style="border: 1px solid black; display: inline-block;">
            ### Accept some things...
            {{ form_row(cartSummaryForm.privacyPolicy) }}
        </div>
        <div style="border: 1px solid black; display: inline-block;">
            ### INVOICE DATA
        </div>
    </div>

{#    {{ form_end(cartSummaryForm) }}#}

{#    {{ form_start(form, {attr: {id: form.vars.id}}) }}#}
    <div class="form-group">
        <label for="card-element">
            Credit or Debit Card
        </label>
        <div id="card-element" class="form-control" style="background: orange; padding: 10px; width: 500px; box-shadow: 0 0 15px black; margin: 15px;"></div>
        <div id="card-errors" class="help-block" role="alert"></div>
    </div>
    {{ form_widget(cartSummaryForm.token) }}
{#    <button type="submit" class="button">PAY <i class="fas fa-hand-holding-usd"></i></button>#}
{#    {{ form_end(form) }}#}
    {{ form_end(cartSummaryForm) }}

{% endblock %}

{% block javascripts %}
    // TODO: include on every page?
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        $(function() {
            $('#select-all').click(function(event) {
                if(this.checked) {
                    // Iterate each checkbox
                    $(':checkbox[name="payment-form[products][]"]').each(function() {
                        this.checked = true;
                    });
                } else {
                    $(':checkbox[name="payment-form[products][]"]').each(function() {
                        this.checked = false;
                    });
                }
            });
        });
    </script>


    <script type="text/javascript">
        var form = document.getElementById('{{ cartSummaryForm.vars.id }}');
        var errors = document.getElementById('card-errors');
        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements({locale: 'en'});

        var style = {
            base: {
                border: '1px solid black',
            }
        };

        var card = elements.create('card', {style: style});

        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            if (event.error) {
                errors.textContent = event.error.message;
                form.classList.add('has-error');
            } else {
                errors.textContent = '';
                form.classList.remove('has-error');
            }
        });

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    errors.textContent = result.error.message;
                    form.classList.add('has-error');
                } else {
                    document.getElementById('{{ cartSummaryForm.children.token.vars.id }}').setAttribute('value', result.token.id);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}