{% extends 'base.html.twig' %}

{% block title 'Order'%}

{% block content %}
    TODO: order tracking, status (add more: shipped, ...)<br>

    Status: {{ order.status|trans }}
    <br>
    Shipment Option: {{ order.shipmentOption.name }} ({{ order.shipmentOption.cost }})
    <br>
    Address: {{ order.address.street }}, {{ order.address.zipCode }} {{ order.address.country.name }}

    {% for orderProductVariant in order.orderProductVariants %}
        {% set product = orderProductVariant.productVariant.product %}

        <a href="{{ path('product_show', {pathSlug: product.pathSlug}) }}">
            <div>
                <div style="width: 200px; display: inline-block">
                    {% include 'Product/parts/_firstImage.html.twig' with {'product': product} %}
                </div>
                {{ product.name }} ({{ orderProductVariant.productVariant.variant.name }})
                x {{ orderProductVariant.quantity }}
            </div>
        </a>
    {% endfor %}

    ### after order is closed: option to review products
{% endblock %}
