{% extends 'base.html.twig' %}

{% block content %}
    {% for conversation in conversations %}
        <div style="border: 1px solid red; display: flex; padding: 10px;">
            <div>
                [{{ conversation.messages.last().dateCreated | date('Y-m-d') }}]
{#                From: {{ conversation.userFrom.login }}#}
{#                <br>#}
{#                To: {{ conversation.userTo.login }}#}
            </div>
            <div style="border-left: 1px dotted black;">
                <a href="{{ path('conversation_show', {'identifier': conversation.identifier}) }}">
                    {{ conversation.messages.last().content }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
