{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    {% if error %}
        <span style="color:red">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            {{ error.message }}
        </span>
    {% endif %}

    {% if not app.user %}
        <form action="{{ path('security_login') }}" method="post">
            <table class="input-table">
                <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                    <td>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="password" id="password" name="_password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ path("homepage") }}" />
                    </td>
                    <td>
                        <button type="submit">login</button>
                    </td>
                </tr>
            </table>
        </form>
    {% elseif app.user %}
        User already logged in.<br>
        You have to log out first in order to log in again.
    {% endif %}
{% endblock %}