{% extends '@Infrastructure/baseList.html.twig' %}

{% block title 'Deleted Customers' %}

{% block entityList %}
    <table class="entity-list order-list">
        <colgroup>
            <col width="150px">
            <col width="200px">
            <col width="200px">
            <col>
            <col width="150px">
        </colgroup>
        <tr class="entity-list-header">
            <th>{{ knp_pagination_sortable(pagination, 'ID', 'c.identificationNumber') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'First Name', 'c.firstName') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Last Name', 'c.lastName') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Email', 'c.email') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'User', 'u.login') }}</th>
            <th></th>
        </tr>
        <tr class="entity-list-filters">
            <td>
                <input type="text" onkeyup="filterSearch(this, 'c.identificationNumber', '{{ path('customer_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'c.firstName', '{{ path('customer_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'c.lastName', '{{ path('customer_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'c.email', '{{ path('customer_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
            <td>
                <input type="text" onkeyup="filterSearch(this, 'u.login', '{{ path('customer_async_deleted_list') }}')" placeholder="Search..." title="Search">
            </td>
        </tr>
        <tbody class="entity-list-content"></tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            filterSearch(undefined, undefined, '{{ path('customer_async_deleted_list') }}');
        });
    </script>
{% endblock %}
