{% extends '@Infrastructure/baseNew.html.twig' %}

{% block title 'New Customer' %}

{% block content %}
    {{ form_start(form) }}
    <table class="entity-new-table">
        {% for fieldName in ['firstName', 'lastName', 'gender', 'companyName', 'vat',
            'idCountries', 'idCities', 'postalCode', 'street', 'email', 'phone',
            'idCurrencies', 'idUsers'] %}
            <tr>
                <td>
                    {{ form_label(form[fieldName]) }}
                    {% if form[fieldName].vars.required %}
                        <span class="red">*</span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>{{ form_widget(form[fieldName]) }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td>
                {{ form_widget(form.save) }}
                <span class="red">* - Required fields</span>
            </td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
